

div{
  /* background-color: rgb(145, 139, 139); */
  color: rgb(231, 0, 0);
}
#inp{
  color: black;
  background-color: white;
}
input::placeholder{
  color: rgb(14, 13, 13) !important;
}
#editbut, #delbut{
  width: 50%;
  
}